@charset "utf-8";
/* CSS Document */\
body {
	background-color: beige;
	opacity: 0.3}
p {color: saddlebrown;
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'}
h1 {
  color: rosybrown;
	margin-left: 20px;}
h2 {
  color: rosybrown;
	margin-left: 20px;}
h4 {
  color: sandybrown;
	margin-left: 50px;}
li{color:lightpink}